DataEngineeringPython/SCF_Data_Pipeline.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "Chapter6: SeeClickFix API to Elasticsearch",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "2803116a-614b-3cb0-b4b4-3ca76b48dd3f",
            "instanceIdentifier" : "018a1000-f5c1-1254-57b9-9b5a559c61c1",
            "name" : "ExecuteScript - Apply Coords and OpenDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "dc224c1c-2a7a-3e78-b9c7-3d0fee8f2400",
          "instanceIdentifier" : "018a1001-f5c1-1254-e6c4-f0b6a6e1e61b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "6d268e18-6f46-34e5-9b22-ec1b3a27228e",
            "instanceIdentifier" : "018a105a-c549-1a08-05eb-383506cba89c",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1593.917724609375,
            "y" : 257.49371337890625
          }, {
            "x" : 1593.917724609375,
            "y" : 307.49371337890625
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "5b350529-aa8e-3132-961b-25930aa6dc65",
            "instanceIdentifier" : "125f0d87-018a-1000-a01d-36fc0edfc78b",
            "name" : "ExecuteScript - GetEveryPage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "e1a3a1c9-63ae-3e9d-b61b-cce01e498b51",
          "instanceIdentifier" : "018a1005-c549-1a08-e81f-ab2964424e5f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "5b350529-aa8e-3132-961b-25930aa6dc65",
            "instanceIdentifier" : "125f0d87-018a-1000-a01d-36fc0edfc78b",
            "name" : "ExecuteScript - GetEveryPage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "6d268e18-6f46-34e5-9b22-ec1b3a27228e",
            "instanceIdentifier" : "018a105a-c549-1a08-05eb-383506cba89c",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "4ecce596-fcfb-384b-8c29-c30421b765fe",
          "instanceIdentifier" : "018a100b-b102-125a-1dd3-3ea14e23a3dc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "2bf0b4a5-b14e-3a4e-bb67-b72c551ee980",
            "instanceIdentifier" : "018a1008-b102-125a-9afd-08c92683401b",
            "name" : "Query SCF  - Next Page",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0be337c6-9d5f-3e3f-90c3-3327f91fe428",
            "instanceIdentifier" : "0a08c549-018a-1000-01a7-bf29d0adb1e5",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "c0daab35-770c-3ac5-8847-958a39725511",
          "instanceIdentifier" : "018a1002-fd82-19fc-2ec0-bdf7ba5e3bfb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "bdcf04a4-c757-352f-a751-e62a7881fe21",
            "instanceIdentifier" : "018a1000-fd82-19fc-0915-b5a22ad430d3",
            "name" : "Query SCF - Archived",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "a644383f-65cc-338d-bb43-b5efdf5a7fd5",
            "instanceIdentifier" : "1254f5c1-018a-1000-f8d0-6457c01f3cf7",
            "name" : "ExecuteScript - Apply Coords and OpenDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "0390153b-e705-3a7f-85ec-8e351fb3348f",
          "instanceIdentifier" : "125dbbb7-018a-1000-9bcc-0b898c366d1a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0be337c6-9d5f-3e3f-90c3-3327f91fe428",
            "instanceIdentifier" : "0a08c549-018a-1000-01a7-bf29d0adb1e5",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0e9d3f4a-04ad-3c9c-8c66-5eb2ce8f3b0c",
            "instanceIdentifier" : "c5491a3d-105a-118a-6d1b-4b8a49a0f76a",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "b1092022-6c46-3ce1-b84b-7247dee367d2",
          "instanceIdentifier" : "c5491a3e-105a-118a-003b-6787df3f10ec",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "f854a520-71ba-3e51-8caf-1a358bb1bc1a",
            "instanceIdentifier" : "018a1003-b102-125a-17eb-8d6435a24031",
            "name" : "EvaluateJsonPath - Get Next Page URL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0be337c6-9d5f-3e3f-90c3-3327f91fe428",
            "instanceIdentifier" : "0a08c549-018a-1000-01a7-bf29d0adb1e5",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "7e398689-4fc8-3952-9edc-288c1d280f4a",
          "instanceIdentifier" : "12547d57-018a-1000-217a-0cd7770be6e3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "d6944661-7cd6-3b53-a11f-053ef4013469",
            "instanceIdentifier" : "09fcfd82-018a-1000-0a5d-5df9918d097f",
            "name" : "Query SCF - Issues",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "f854a520-71ba-3e51-8caf-1a358bb1bc1a",
            "instanceIdentifier" : "018a1003-b102-125a-17eb-8d6435a24031",
            "name" : "EvaluateJsonPath - Get Next Page URL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "c8823730-2ee7-38da-8c9f-b815b4866beb",
          "instanceIdentifier" : "c5491a41-105a-118a-f8a0-92b025a9c3e8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "2bf0b4a5-b14e-3a4e-bb67-b72c551ee980",
            "instanceIdentifier" : "018a1008-b102-125a-9afd-08c92683401b",
            "name" : "Query SCF  - Next Page",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "f854a520-71ba-3e51-8caf-1a358bb1bc1a",
            "instanceIdentifier" : "018a1003-b102-125a-17eb-8d6435a24031",
            "name" : "EvaluateJsonPath - Get Next Page URL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "186d741f-6ea4-3ac2-89bb-738e9853e26d",
          "instanceIdentifier" : "c5491a09-1058-118a-c687-a6e633266b57",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "b77273d9-bf74-3e4d-83c1-4b30308693e5",
            "instanceIdentifier" : "c5491a08-1058-118a-8071-92cc561b9bfa",
            "name" : "Query SCF  - Archived",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "6d268e18-6f46-34e5-9b22-ec1b3a27228e",
            "instanceIdentifier" : "018a105a-c549-1a08-05eb-383506cba89c",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "1a16a6bd-67ae-3a56-bd17-fb3e13354322",
          "instanceIdentifier" : "c5491a0b-105a-118a-3beb-be2c77169809",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "b77273d9-bf74-3e4d-83c1-4b30308693e5",
            "instanceIdentifier" : "c5491a08-1058-118a-8071-92cc561b9bfa",
            "name" : "Query SCF  - Archived",
            "type" : "PROCESSOR"
          },
          "zIndex" : 1
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "f854a520-71ba-3e51-8caf-1a358bb1bc1a",
            "instanceIdentifier" : "018a1003-b102-125a-17eb-8d6435a24031",
            "name" : "EvaluateJsonPath - Get Next Page URL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "802df9c1-4d33-3b14-99a3-ad1e445adc2e",
          "instanceIdentifier" : "018a1006-b102-125a-c145-fa32ba059b29",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "7bc40209-2b13-38fe-99ea-47a634b604df",
            "instanceIdentifier" : "018a1058-c549-1a08-1e66-ee1a5a9c41fd",
            "name" : "Query SCF  - Issues",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "94fd20da-ba1c-3d49-9957-7d642bf28f65",
            "instanceIdentifier" : "018a1000-c549-1a08-3f8b-7384ba5b2b25",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "1c392709-ca0e-3b73-8444-5e41ac16d5c6",
          "instanceIdentifier" : "018a1001-c549-1a08-d6a0-cb4f64dd8ddd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "5b350529-aa8e-3132-961b-25930aa6dc65",
            "instanceIdentifier" : "125f0d87-018a-1000-a01d-36fc0edfc78b",
            "name" : "ExecuteScript - GetEveryPage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "6d268e18-6f46-34e5-9b22-ec1b3a27228e",
            "instanceIdentifier" : "018a105a-c549-1a08-05eb-383506cba89c",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "cf1183cf-f23f-397f-bb1b-542559515a89",
          "instanceIdentifier" : "018a105b-c549-1a08-6dbb-7d1dab8da30e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "7bc40209-2b13-38fe-99ea-47a634b604df",
            "instanceIdentifier" : "018a1058-c549-1a08-1e66-ee1a5a9c41fd",
            "name" : "Query SCF  - Issues",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "5b350529-aa8e-3132-961b-25930aa6dc65",
            "instanceIdentifier" : "125f0d87-018a-1000-a01d-36fc0edfc78b",
            "name" : "ExecuteScript - GetEveryPage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "61ae38ec-cd67-3327-beba-498e67befa29",
          "instanceIdentifier" : "018a103c-c549-1a08-c1bb-9b5d3ae07c8f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "d6944661-7cd6-3b53-a11f-053ef4013469",
            "instanceIdentifier" : "09fcfd82-018a-1000-0a5d-5df9918d097f",
            "name" : "Query SCF - Issues",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "2bf0b4a5-b14e-3a4e-bb67-b72c551ee980",
            "instanceIdentifier" : "018a1008-b102-125a-9afd-08c92683401b",
            "name" : "Query SCF  - Next Page",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "d7ead34e-64fa-3da9-b503-3be7e882dbea",
          "instanceIdentifier" : "c5491a40-105a-118a-3861-36875e74c2d4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "pass" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0e9d3f4a-04ad-3c9c-8c66-5eb2ce8f3b0c",
            "instanceIdentifier" : "c5491a3d-105a-118a-6d1b-4b8a49a0f76a",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0be337c6-9d5f-3e3f-90c3-3327f91fe428",
            "instanceIdentifier" : "0a08c549-018a-1000-01a7-bf29d0adb1e5",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "823809c7-99a3-3fe3-acb5-81bdef2b0d76",
          "instanceIdentifier" : "1264abce-018a-1000-1f67-278a277f50b0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "5b350529-aa8e-3132-961b-25930aa6dc65",
            "instanceIdentifier" : "125f0d87-018a-1000-a01d-36fc0edfc78b",
            "name" : "ExecuteScript - GetEveryPage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "bdcf04a4-c757-352f-a751-e62a7881fe21",
            "instanceIdentifier" : "018a1000-fd82-19fc-0915-b5a22ad430d3",
            "name" : "Query SCF - Archived",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "db604c35-4efc-3e13-948a-0a85b88a82a2",
          "instanceIdentifier" : "018a1001-fd82-19fc-7521-07ce89bf5f73",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "93dde450-475e-32ca-b121-b136df20cc30",
            "instanceIdentifier" : "09fa9129-018a-1000-8169-a6ebd8167a3e",
            "name" : "Start Flow Fake Data",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "5b350529-aa8e-3132-961b-25930aa6dc65",
            "instanceIdentifier" : "125f0d87-018a-1000-a01d-36fc0edfc78b",
            "name" : "ExecuteScript - GetEveryPage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "3a2f212e-7857-3d46-8a15-e00643035492",
          "instanceIdentifier" : "018a1003-fd82-19fc-a0f8-91b75c59a0dc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "bdcf04a4-c757-352f-a751-e62a7881fe21",
            "instanceIdentifier" : "018a1000-fd82-19fc-0915-b5a22ad430d3",
            "name" : "Query SCF - Archived",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0ded0604-58bc-3813-a784-adc1cfc9eadf",
            "instanceIdentifier" : "018a1000-8846-1259-513a-713b3f8c77e4",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "f8281b6d-3d2e-3a4a-9e8f-2e208fe92600",
          "instanceIdentifier" : "018a1001-8846-1259-8a33-80704045af9f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "2803116a-614b-3cb0-b4b4-3ca76b48dd3f",
            "instanceIdentifier" : "018a1000-f5c1-1254-57b9-9b5a559c61c1",
            "name" : "ExecuteScript - Apply Coords and OpenDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "d6944661-7cd6-3b53-a11f-053ef4013469",
            "instanceIdentifier" : "09fcfd82-018a-1000-0a5d-5df9918d097f",
            "name" : "Query SCF - Issues",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "8b9d7f0e-6375-366d-9bc4-dcf58001dc4a",
          "instanceIdentifier" : "0a080693-018a-1000-0b60-da6672b4fb84",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "93dde450-475e-32ca-b121-b136df20cc30",
            "instanceIdentifier" : "09fa9129-018a-1000-8169-a6ebd8167a3e",
            "name" : "Start Flow Fake Data",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "b6f99436-4dcd-373e-afbd-bd970ea7248d",
            "instanceIdentifier" : "018a1000-b102-125a-c22d-abf0a3a2b57f",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "3a55934f-c238-320a-9cf6-19ffad89a4e0",
          "instanceIdentifier" : "018a1001-b102-125a-8985-c153233b0def",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0ded0604-58bc-3813-a784-adc1cfc9eadf",
            "instanceIdentifier" : "018a1000-8846-1259-513a-713b3f8c77e4",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "db2630aa-61e6-352f-b8eb-7c5fd984bef9",
            "instanceIdentifier" : "125ab102-018a-1000-e578-197495bffafe",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "adc8af3d-0c62-37c9-8d2f-6d4c86d74a64",
          "instanceIdentifier" : "125dd88b-018a-1000-226d-2e545caaef89",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "6312bf24-b36e-3fc7-97c3-16d76e3884ad",
            "instanceIdentifier" : "12598846-018a-1000-a4cb-b6273cb29bf0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0fdddf0e-84f1-30e1-a851-6b8d7844f988",
            "instanceIdentifier" : "b102125a-1000-118a-c76b-cb97776f33eb",
            "name" : "NewDataWarehouse",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "f0fe5c22-4f38-36cf-a643-251519ee4407",
          "instanceIdentifier" : "b102125b-1000-118a-a9a0-bdcf66d4454d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "0ded0604-58bc-3813-a784-adc1cfc9eadf",
            "instanceIdentifier" : "018a1000-8846-1259-513a-713b3f8c77e4",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "6312bf24-b36e-3fc7-97c3-16d76e3884ad",
            "instanceIdentifier" : "12598846-018a-1000-a4cb-b6273cb29bf0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "8094eb88-d8f5-3586-a32e-025e9bb6831c",
          "instanceIdentifier" : "125dc733-018a-1000-d7c1-f983089f2a70",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
            "id" : "a644383f-65cc-338d-bb43-b5efdf5a7fd5",
            "instanceIdentifier" : "1254f5c1-018a-1000-f8d0-6457c01f3cf7",
            "name" : "ExecuteScript - Apply Coords and OpenDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
        "inputPorts" : [ ],
        "instanceIdentifier" : "09fa5720-018a-1000-fc11-e9f4cf3901f1",
        "labels" : [ ],
        "logFileSuffix" : "",
        "name" : "311_data_pipeline",
        "outputPorts" : [ ],
        "position" : {
          "x" : 720.0,
          "y" : 320.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-scripting-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "d6944661-7cd6-3b53-a11f-053ef4013469",
          "instanceIdentifier" : "09fcfd82-018a-1000-0a5d-5df9918d097f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Query SCF - Issues",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 216.0,
            "y" : 104.0
          },
          "properties" : {
            "Script Engine" : "python",
            "Script Body" : "import java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.python.core.util import StringUtil\n\nimport urllib\nimport urllib2\nimport json\n\n\nclass ModJSON(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n        try:\n            param = {'place_url':'bernalillo-county','per_page':'100'}\n            url = 'https://seeclickfix.com/api/v2/issues?' + urllib.urlencode(param)\n            rawreply = urllib2.urlopen(url).read()\n            reply = json.loads(rawreply)\n\n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n        except:\n            global errorOccurred\n            errorOccurred=True\n\n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n\n\nerrorOccurred=False\nflowFile = session.get()\nif (flowFile != None):\n    flowFile = session.write(flowFile, ModJSON())\n    #flowFile = session.putAttribute(flowFile)\n    if(errorOccurred):\n    \tsession.transfer(flowFile, REL_FAILURE)\n    else:\n    \tsession.transfer(flowFile, REL_SUCCESS)"
          },
          "propertyDescriptors" : {
            "Script File" : {
              "displayName" : "Script File",
              "identifiesControllerService" : false,
              "name" : "Script File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Script Engine" : {
              "displayName" : "Script Engine",
              "identifiesControllerService" : false,
              "name" : "Script Engine",
              "sensitive" : false
            },
            "Script Body" : {
              "displayName" : "Script Body",
              "identifiesControllerService" : false,
              "name" : "Script Body",
              "sensitive" : false
            },
            "Module Directory" : {
              "displayName" : "Module Directory",
              "identifiesControllerService" : false,
              "name" : "Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.script.ExecuteScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "b6f99436-4dcd-373e-afbd-bd970ea7248d",
          "instanceIdentifier" : "018a1000-b102-125a-c22d-abf0a3a2b57f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1848.0,
            "y" : 1152.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-id-attr" : "id",
            "put-es-index" : "scf",
            "elasticsearch-http-url" : "http://localhost:9200",
            "put-es-batch-size" : "100",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "put-es-index-op" : "upsert",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "split", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "94fd20da-ba1c-3d49-9957-7d642bf28f65",
          "instanceIdentifier" : "018a1000-c549-1a08-3f8b-7384ba5b2b25",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1624.0,
            "y" : -48.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.issues"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-scripting-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "bdcf04a4-c757-352f-a751-e62a7881fe21",
          "instanceIdentifier" : "018a1000-fd82-19fc-0915-b5a22ad430d3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Query SCF - Archived",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 872.0,
            "y" : -128.0
          },
          "properties" : {
            "Script Engine" : "python",
            "Script Body" : "import java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.python.core.util import StringUtil\n\nimport urllib\nimport urllib2\nimport json\n\n\nclass ModJSON(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n        try:\n            param = {'place_url':'bernalillo-county','per_page':'100', 'status': 'Archived'}\n            url = 'https://seeclickfix.com/api/v2/issues?' + urllib.urlencode(param)\n            rawreply = urllib2.urlopen(url).read()\n            reply = json.loads(rawreply)\n\n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n        except:\n            global errorOccurred\n            errorOccurred=True\n\n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n\n\nerrorOccurred=False\nflowFile = session.get()\nif (flowFile != None):\n    flowFile = session.write(flowFile, ModJSON())\n    #flowFile = session.putAttribute(flowFile)\n    if(errorOccurred):\n    \tsession.transfer(flowFile, REL_FAILURE)\n    else:\n    \tsession.transfer(flowFile, REL_SUCCESS)"
          },
          "propertyDescriptors" : {
            "Script File" : {
              "displayName" : "Script File",
              "identifiesControllerService" : false,
              "name" : "Script File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Script Engine" : {
              "displayName" : "Script Engine",
              "identifiesControllerService" : false,
              "name" : "Script Engine",
              "sensitive" : false
            },
            "Script Body" : {
              "displayName" : "Script Body",
              "identifiesControllerService" : false,
              "name" : "Script Body",
              "sensitive" : false
            },
            "Module Directory" : {
              "displayName" : "Module Directory",
              "identifiesControllerService" : false,
              "name" : "Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.script.ExecuteScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "7bc40209-2b13-38fe-99ea-47a634b604df",
          "instanceIdentifier" : "018a1058-c549-1a08-1e66-ee1a5a9c41fd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Query SCF  - Issues",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1992.0,
            "y" : 632.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "https://seeclickfix.com/api/v2/issues?place_url=bernalillo-county&per_page=100&page=46",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-scripting-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "a644383f-65cc-338d-bb43-b5efdf5a7fd5",
          "instanceIdentifier" : "1254f5c1-018a-1000-f8d0-6457c01f3cf7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteScript - Apply Coords and OpenDate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 472.0,
            "y" : 544.0
          },
          "properties" : {
            "Script Engine" : "python",
            "Script Body" : "import java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.python.core.util import StringUtil\n\nimport json\n\nclass ModJSON(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n        try:\n            text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n            reply = json.loads(text)\n            reply['coords'] = str(reply['lat'])+','+str(reply['lng'])\n            d = reply['created_at'].split('T')\n            reply['opendate'] = d[0]\n            \n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n        except:\n            global errorOccurred\n            errorOccurred=True\n\t\t\t\n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n\n\nerrorOccurred=False\nflowFile = session.get()\nif (flowFile != None):\n    flowFile = session.write(flowFile, ModJSON())\n    #flowFile = session.putAttribute(flowFile)\n    if(errorOccurred):\n        session.transfer(flowFile, REL_FAILURE)\n    else:\n        session.transfer(flowFile, REL_SUCCESS)"
          },
          "propertyDescriptors" : {
            "Script File" : {
              "displayName" : "Script File",
              "identifiesControllerService" : false,
              "name" : "Script File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Script Engine" : {
              "displayName" : "Script Engine",
              "identifiesControllerService" : false,
              "name" : "Script Engine",
              "sensitive" : false
            },
            "Script Body" : {
              "displayName" : "Script Body",
              "identifiesControllerService" : false,
              "name" : "Script Body",
              "sensitive" : false
            },
            "Module Directory" : {
              "displayName" : "Module Directory",
              "identifiesControllerService" : false,
              "name" : "Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.script.ExecuteScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "0ded0604-58bc-3813-a784-adc1cfc9eadf",
          "instanceIdentifier" : "018a1000-8846-1259-513a-713b3f8c77e4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2008.0,
            "y" : 920.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "id" : "$.id",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "id" : {
              "displayName" : "id",
              "identifiesControllerService" : false,
              "name" : "id",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "fail", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "0e9d3f4a-04ad-3c9c-8c66-5eb2ce8f3b0c",
          "instanceIdentifier" : "c5491a3d-105a-118a-6d1b-4b8a49a0f76a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2240.0,
            "y" : 184.0
          },
          "properties" : {
            "fail" : "${next_page_url:isEmpty()}",
            "Routing Strategy" : "Route to Property name",
            "pass" : "${next_page_url:startsWith('https')}"
          },
          "propertyDescriptors" : {
            "fail" : {
              "displayName" : "fail",
              "identifiesControllerService" : false,
              "name" : "fail",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "pass" : {
              "displayName" : "pass",
              "identifiesControllerService" : false,
              "name" : "pass",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "2bf0b4a5-b14e-3a4e-bb67-b72c551ee980",
          "instanceIdentifier" : "018a1008-b102-125a-9afd-08c92683401b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Query SCF  - Next Page",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2648.0,
            "y" : 424.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "${next_page_url}",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "f854a520-71ba-3e51-8caf-1a358bb1bc1a",
          "instanceIdentifier" : "018a1003-b102-125a-17eb-8d6435a24031",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath - Get Next Page URL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1760.0,
            "y" : 416.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "next_page_url" : "$.metadata.pagination.next_page_url",
            "Null Value Representation" : "empty string",
            "total_pages" : "$.metadata.pagination.pages",
            "current_page" : "$.metadata.pagination.page",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "next_page_url" : {
              "displayName" : "next_page_url",
              "identifiesControllerService" : false,
              "name" : "next_page_url",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "total_pages" : {
              "displayName" : "total_pages",
              "identifiesControllerService" : false,
              "name" : "total_pages",
              "sensitive" : false
            },
            "current_page" : {
              "displayName" : "current_page",
              "identifiesControllerService" : false,
              "name" : "current_page",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "0fdddf0e-84f1-30e1-a851-6b8d7844f988",
          "instanceIdentifier" : "b102125a-1000-118a-c76b-cb97776f33eb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "NewDataWarehouse",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2432.0,
            "y" : 1152.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-id-attr" : "id",
            "put-es-index" : "scf-dw",
            "elasticsearch-http-url" : "http://localhost:9200",
            "put-es-batch-size" : "100",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "put-es-index-op" : "upsert",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "db2630aa-61e6-352f-b8eb-7c5fd984bef9",
          "instanceIdentifier" : "125ab102-018a-1000-e578-197495bffafe",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 864.0,
            "y" : 680.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-id-attr" : "id",
            "put-es-index" : "scf",
            "elasticsearch-http-url" : "http://localhost:9200",
            "put-es-batch-size" : "100",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "put-es-index-op" : "upsert",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "93dde450-475e-32ca-b121-b136df20cc30",
          "instanceIdentifier" : "09fa9129-018a-1000-8169-a6ebd8167a3e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Start Flow Fake Data",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 216.0,
            "y" : -136.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "6312bf24-b36e-3fc7-97c3-16d76e3884ad",
          "instanceIdentifier" : "12598846-018a-1000-a4cb-b6273cb29bf0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1120.0,
            "y" : 376.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "id" : "$.id",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "id" : {
              "displayName" : "id",
              "identifiesControllerService" : false,
              "name" : "id",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "b77273d9-bf74-3e4d-83c1-4b30308693e5",
          "instanceIdentifier" : "c5491a08-1058-118a-8071-92cc561b9bfa",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Query SCF  - Archived",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1584.0,
            "y" : 848.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "https://seeclickfix.com/api/v2/issues?place_url=bernalillo-county&per_page=100&status=Archived",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "DEBUG",
          "bundle" : {
            "artifact" : "nifi-scripting-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "5b350529-aa8e-3132-961b-25930aa6dc65",
          "instanceIdentifier" : "125f0d87-018a-1000-a01d-36fc0edfc78b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteScript - GetEveryPage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1120.0,
            "y" : 216.0
          },
          "properties" : {
            "Script Engine" : "python",
            "Script Body" : "import java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.python.core.util import StringUtil\nfrom java.lang import Object\nfrom jarray import array\n\nimport urllib\nimport urllib2\nimport json\n\nclass ModJSON(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n        try:            \n            text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n            asjson=json.loads(text)\n            total_pages = asjson['metadata']['pagination']['pages']\n            current_page = asjson['metadata']['pagination']['page']\n\n            if current_page <= total_pages:\n                url = asjson['metadata']['pagination']['next_page_url']\n                rawreply = urllib2.urlopen(url).read()\n                reply = json.loads(rawreply)\n                outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))                \n                \n                objArray = [url]\n                javaArray = array(objArray, Object)\n                log.info('next_page_url: {}', javaArray)\n            else:\n                global errorOccurred\n                errorOccurred=True\n                outputStream.write(bytearray(json.dumps(asjson, indent=4).encode('utf-8')))\n        except Exception as ex:\n            global errorOccurred\n            errorOccurred=True\n            objArray = [ex]\n            javaArray = array(objArray, Object)\n            log.info('exception: {}', javaArray)\n\n\nerrorOccurred=False\nflowFile = session.get()\nif (flowFile != None):\n    flowFile = session.write(flowFile, ModJSON())\n    if(errorOccurred):\n        session.transfer(flowFile, REL_FAILURE)\n    else:\n        session.transfer(flowFile, REL_SUCCESS)"
          },
          "propertyDescriptors" : {
            "Script File" : {
              "displayName" : "Script File",
              "identifiesControllerService" : false,
              "name" : "Script File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Script Engine" : {
              "displayName" : "Script Engine",
              "identifiesControllerService" : false,
              "name" : "Script Engine",
              "sensitive" : false
            },
            "Script Body" : {
              "displayName" : "Script Body",
              "identifiesControllerService" : false,
              "name" : "Script Body",
              "sensitive" : false
            },
            "Module Directory" : {
              "displayName" : "Module Directory",
              "identifiesControllerService" : false,
              "name" : "Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.script.ExecuteScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "0be337c6-9d5f-3e3f-90c3-3327f91fe428",
          "instanceIdentifier" : "0a08c549-018a-1000-01a7-bf29d0adb1e5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 472.0,
            "y" : 320.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.issues"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-scripting-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "2803116a-614b-3cb0-b4b4-3ca76b48dd3f",
          "instanceIdentifier" : "018a1000-f5c1-1254-57b9-9b5a559c61c1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteScript - Apply Coords and OpenDate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2648.0,
            "y" : 912.0
          },
          "properties" : {
            "Script Engine" : "python",
            "Script Body" : "import java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.python.core.util import StringUtil\n\nimport json\n\nclass ModJSON(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n        try:\n            text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n            reply = json.loads(text)\n            reply['coords'] = str(reply['lat'])+','+str(reply['lng'])\n            d = reply['created_at'].split('T')\n            reply['opendate'] = d[0]\n            \n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n        except:\n            global errorOccurred\n            errorOccurred=True\n\t\t\t\n            outputStream.write(bytearray(json.dumps(reply, indent=4).encode('utf-8')))\n\n\nerrorOccurred=False\nflowFile = session.get()\nif (flowFile != None):\n    flowFile = session.write(flowFile, ModJSON())\n    #flowFile = session.putAttribute(flowFile)\n    if(errorOccurred):\n        session.transfer(flowFile, REL_FAILURE)\n    else:\n        session.transfer(flowFile, REL_SUCCESS)"
          },
          "propertyDescriptors" : {
            "Script File" : {
              "displayName" : "Script File",
              "identifiesControllerService" : false,
              "name" : "Script File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Script Engine" : {
              "displayName" : "Script Engine",
              "identifiesControllerService" : false,
              "name" : "Script Engine",
              "sensitive" : false
            },
            "Script Body" : {
              "displayName" : "Script Body",
              "identifiesControllerService" : false,
              "name" : "Script Body",
              "sensitive" : false
            },
            "Module Directory" : {
              "displayName" : "Module Directory",
              "identifiesControllerService" : false,
              "name" : "Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.script.ExecuteScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b7ff31c1-83b9-3bb7-b662-8bcaf1aff587",
          "identifier" : "6d268e18-6f46-34e5-9b22-ec1b3a27228e",
          "instanceIdentifier" : "018a105a-c549-1a08-05eb-383506cba89c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2648.0,
            "y" : 672.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.issues"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}